<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>GQL Experimentation</title>
    <!-- <link rel="stylesheet" type="text/css" href="/style.css"/> -->
  </head>
  <body>
    <div id="app">Hello World</div>
    <!-- <script type="application/javascript" src="/bundle.js"></script> -->
  </body>
</html>
